// .about {
//     &__grid {
//         margin-top: 120px;
//         margin-bottom: 760px;
//         display: grid;
//         grid-template-columns: repeat(2, 400px 570px);
//         // grid-template-rows: repeat(2, minmax(260px, auto));
//         grid-auto-rows: 0;
//         gap: 68px; // делает разрывы между контейнерами
//     }
//     &__bottom {
//         display: grid;
//         grid-auto-flow: column;
//         grid-template-columns: repeat(2, 260px);
//         grid-template-rows: repeat(2, minmax(27px, auto));
//         grid-auto-rows: 0;
//         gap: 20px 50px;
//     }
//     &__top {
//         padding-top: 7px;
//     }
//     &__item {
//         position: relative;
//         display: grid;
//         grid-template-columns: repeat(2, 24px 200px);
//         gap: 24px;
//     }
//     &__img-skill {
//         position: absolute;
//         top: -14px;
//         left: 16px;
//     }
//    &_position-img {
//        transform: translateY(28px);
//    }
// }

.about {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 670px;
        grid-template-rows: minmax(245px, auto) minmax(255px, auto);
        grid-auto-rows: minmax(245px, auto);
        column-gap: 70px;
        row-gap: 40px;
    }  
    &__photo {
        grid-row: 1/3;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    } 
    &__descr {
        padding-top: 6px;
        .divider {
            margin: 0;
        }
    }
    &__title {
        position: relative;
        padding-left: 12px;
        padding-top: 1px;
        @include  before_circle;
    }
    &__text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 21px;
    }
    &__skills {
        display: grid;
        grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 1fr);
        grid-auto-rows: 1fr;
        column-gap: 50px;
        row-gap: 20px;
        &-item {
            display: grid;
            grid-template-columns: 40px 200px ;
            column-gap: 20px;          
        }
        &-circle {
            position: relative;
            padding: 15px 0 0 15px;
            @include before_circle;
            &:before {
                top: 0;
            }
        }
        &-text {
            margin-top: 6px;
            font-size: 12px;
            line-height: 18px;
        }
    }
}