@media (max-width: 1439px) {  
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 540px;
            column-gap: 40px;
        }
        &__skills {            
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 0 0 0;            
            grid-template-columns: repeat(2,457px);
            column-gap: 45px;
        }      
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3, 295px);                  
            gap: 27px;
        }
        &__percents-wrapper {
            grid-template-columns: repeat(2,434px);
            column-gap: 89px;
            row-gap: 54px;
        }   
        &__percents-item {
            width: 100%;           
        }         
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            column-gap: 20px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {                     
            grid-template: 524px / 718px;
            gap: 20px;
        }      
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2,347px);
            grid-template-rows: 269px;
            gap: 7px;
        }
        &__percents-wrapper {
            grid-template-columns: repeat(2,347px);
            column-gap: 47px;
            row-gap: 35px;            
        }              
    }
    .price {
        padding-top: 60px;
        
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 350px);
            justify-content: space-between;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 221px auto;
        }
        &__form {
            grid-template: 40px 94px 40px / repeat(2, auto);
            column-gap: 13px;
        }
        &__photo img {
            width: 100%;
            width: 200px;
            height: 536px;
            object-fit: cover;
        }
        &__triggers {
            grid-template-columns: auto;
            row-gap: 19px;  
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {       
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;            
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto/ 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);            
           &-item {
            grid-template-columns: 40px 200px;
            column-gap: 20px;
           }
        }
    }
    .resume {
        padding-left: 8px;
        padding-right: 8px;
        &__wrapper {                     
            grid-template: 524px/502px; 
            gap: 40px;
        }      
    }

    .skills {
        &__wrapper {
            grid-template: 331px / 1fr;
            gap: 20px;          
            }
        &__percents-wrapper {
            grid-template-columns: 1fr;                 
        }       
    }
    .portfolio {
        padding-top: 40px;
    }
    .price {     
        &__wrapper {          
            justify-content: center;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px;
            justify-content: center;
        }
        &__photo img {
            display: none;
        }
        &__triggers {
            grid-template-columns: 219px;           
            justify-content: center;
            .contacts__btn {              
                grid-row-start: 2;
            }
            .contacts__policy {               
                transform: translateX(20px);
            }
        } 
        &__form {
            grid-template: 45px 45px 143px 40px/ repeat(auto-fit, 288px);
        }
        &__input {
            grid-column-start: 1;
        }
        &__textarea {
            grid-column: 1/2;
        }    
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {       
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;           
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url(../img/main_bg.jpg) no-repeat 57%/cover;
        &__btns {
            margin-top: 32px;
        }
    }
    .about {      
        &__wrapper {
            grid-template: 340px auto auto/ 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume__wrapper {
        grid-template: 1fr / 1fr;        
    }
    .skills {          
        &__wrapper {
            grid-template-rows: 270px;
        }        
    }
    .price {      
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 300px);         
        }
        &__item {
            grid-template-rows: repeat(2,auto);
        }
    }
}